name: Rust

on:
  push:
    branches:
      - "main"
      - "feature/**"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update rustc
        run: rustup target add x86_64-unknown-linux-musl
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Add ~/.local/bin to PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Test with latest nextest release
        uses: actions-rs/cargo@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          command: nextest
          args: run --jobs 1 --workspace --no-fail-fast --profile ci
      - name: Upload test results to Codecov
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Run coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo llvm-cov --jobs 1 --workspace --lcov --ignore-filename-regex '/pylot/src/main\.rs$|_tests\.rs$' --output-path lcov.info -- --nocapture
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: lcov.info
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Build
        run: make package
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-binary
          path: dist

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Run tests and coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo llvm-cov --jobs 1 --workspace --lcov --ignore-filename-regex '\\pylot\\src\\main\.rs$|_tests\.rs$' --output-path lcov.info -- --nocapture
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-coverage
          path: lcov.info
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Build
        run: make package
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-binary
          path: dist
